body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #005432;
    color: #fff;
}

.nav_pages>a:hover {
    background-color: #4f4f4f;
}

/* Navbar items */
.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Language dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 4px 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    min-width: 160px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #4f4f4f;
}

/* Default icons */
.icon {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    fill: #fff;
}


#usf-logo {
    width: 200px;
}