:root {
  --usf-green: #005432;
  --usf-gold: #CFC493;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.flowchart-container {
  margin: 30px;
  text-align: center;
}

.flowchart-img {
  height: 700px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--usf-green);
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo-and-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link:hover .logo {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  }
    

/* excludes logo from same styling as links */
.logo-and-items a:not(.logo-link) {
  padding: 0px 10px;
  text-align: center;
}

nav a:hover:not(.logo-link) {
  text-decoration: underline;
}

.logo {
  width: 150px;
}

.btn {
  border: 2px solid white;
  border-radius: 20px;
  background-color: var(--usf-green);
  color: white;
  padding: 7px;
  cursor: pointer;
  margin-left: 10px;
}

.btn:hover {
  background-color: white;
  color: var(--usf-green);
}

.nav-buttons {
  display: flex;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--usf-green);
  border-radius: 5px;
  text-align: center;
}

.dropdown-menu a {
  color: #fff;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}

.dropdown-menu a:hover {
  background-color: #f9f9f9;
  color: var(--usf-green);
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.welcome-message {
  text-align: center;
}

.welcome-message p {
  margin: 0px;
  text-align: center;
  font-weight: bold;
  background-color: var(--usf-gold);
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  animation: fade 5s;
  animation-fill-mode: forwards;
  user-select: none;
}

@keyframes fade {
  100% {
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
  }
}

.list-and-table {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 35px;
}

.class-list {
  width: 200px;
  margin: 0px 20px;
}

.section-header {
  font-size: 30px;
  margin: 0px;
  text-align: center;
  color: var(--usf-green);
}

.class-list ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.class-list li img {
  width: 100%;
  padding-bottom: 5px;
}

.schedule-table {
  max-width: 800px;
  margin: 0px;
}

.schedule-table h2 {
  color: rgb(81, 81, 81);
  font-size: 18px;
  margin: 0px;
  text-align: center;
  font-style: italic;
}

table {
  width: 100%;
  table-layout: fixed;
}

.day-header {
  background-color: var(--usf-green);
  color: #fff;
  font-weight: normal;
  padding: 7px;
}

.timing {
  color: black;
  font-weight: normal;
  padding: 15px;
}

.class-block {
  color: white;
  font-weight: bold;
  text-align: center;
}

#cgs3853 {
  background-color: #F44336;
}

#cis3433 {
  background-color: #2196F3;
}

#cop4703 {
  background-color: #4CAF50;
}

#enc1101 {
  background-color: #e9a802;
}

#cop4935 {
  background-color: #9C27B0;
}

footer {
  font-size: 12px;
  background-color: var(--usf-green);
  color: white;
}

footer p {
  padding: 10px;
  margin: 0px;
}

@media only screen and (max-width: 768px) {
  nav {
  flex-direction: column;
  align-items: flex-start;
  }
  
  .nav-pages {
  flex-direction: column;
  }
  
  .nav-pages a {
  margin-right: 0;
  margin-bottom: 10px;
  }
  }