:root {
  --usf-green: #005432;
  --usf-gold: #CFC493;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--usf-green);
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.logo {
  width: 150px;
}

.btn {
  border: 2px solid white;
  border-radius: 20px;
  background-color: var(--usf-green);
  color: white;
  padding: 7px;
  cursor: pointer;
  margin-left: 10px;
}

.btn:hover {
  background-color: white;
  color: var(--usf-green);
}

.nav-buttons {
  display: flex;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--usf-green);
  border-radius: 5px;
  text-align: center;
}

.dropdown-menu a {
  color: #fff;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}

.dropdown-menu a:hover {
  background-color: #f9f9f9;
  color: var(--usf-green);
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.welcome-message {
  text-align: center;
}

.welcome-message p {
  margin: 0px;
  text-align: center;
  font-weight: bold;
  background-color: var(--usf-gold);
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  animation: fade 5s;
  animation-fill-mode: forwards;
  user-select: none;
}

@keyframes fade {
  100% {
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
  }
}

.list-and-table {
  display: flex;
}

.class-list {
  width: 200px;
  margin: 0px 20px;
}

.class-list h1 {
  font-size: 30px;
  margin: 0px;
  text-align: center;
  color: var(--usf-green);
}

.class-list ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.class-list li img {
  width: 100%;
  padding-bottom: 5px;
}

.schedule-table {
  max-width: 800px;
  margin: 0px;
}

.schedule-table h1 {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: var(--usf-green);
  text-align: center;
}

.schedule-table h2 {
  font-size: grey;
  font-size: 20px;
  margin: 0px;
  padding: 5px;
  text-align: center;
  font-style: italic;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: .23px solid #f9f9f9e7;
  width: 20%;
}

.day-header {
  background-color: var(--usf-green);
  color: #fff;
  margin: 0px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.class1 {
  background-color: #F44336;
}

.class2 {
  background-color: #2196F3;
}

.class3 {
  background-color: #4CAF50;
}

.class4 {
  background-color: #FFEB3B;
}

.class5 {
  background-color: #9C27B0;
}




@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-pages {
    flex-direction: column;
  }

  .nav-pages a {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

footer {
  font-size: 12px;
  background-color: var(--usf-green);
  color: white;
}

footer p {
  padding: 10px;
  margin: 0px;
}