body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #005432;
  color: #fff;
}

.nav_pages>a {
  color: #fff;
}

.nav_pages>a:hover {
  background-color: #00673e;
}

/* Navbar items */
.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

/* Language dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 4px 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #4f4f4f;
}

/* Default icons */
.icon {
  margin-left: 20px;
  fill: #fff;
}


#usf-logo {
  width: 150px;
}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  animation: invis 3s ease-in-out normal;
  /* keeps color set at 100% after animation ends */
  animation-fill-mode: forwards;
}

@keyframes invis {
  0% {
    color: #005432
  }

  100% {
    /* fades to fully transparent instead of white*/
    color: rgba(255, 255, 255, 0)
  }
}

#scheduletable {}

#classlist {}

#flowchart {
  width: 200px;
}